* {
    box-sizing: border-box;
    background-color: gainsboro;
}

header {
    display: flex;
    padding: 5px;
    justify-content: space-between;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
    padding: 10px;
    font-size: larger;
    font-weight: bold;
    text-align: center;
}

.btn {
    background-color: rgb(153, 81, 221);
    color: white;
    border-radius: 4px;
    padding: 8px;
    margin: 5px;

}

.btn:hover {
    background-color: darkblue;
}

#start-screen p {
    padding: 10px 50px;
    line-height: 1.6;
    text-align: center;

}

#start-btn, #go-back {
    margin: 0;
    position: relative;
    left: 45%;
}

#question-title {
    font-size: larger;
    font-weight: bold;
    text-align: center;
    padding: 10px 50px;
    line-height: 1.6;
}

.choices {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 50px;

}

#end-screen {
    display: grid;
    justify-content: center;
    align-items: center;
}

#all-done {
    font-size: larger;
    font-weight: bold;
    padding-bottom: 10px;
}

#clear {
    margin: 0;
    position: absolute;
    right: 35%;
}

.hide, #end-screen {
    display: none;
}